{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":46},"end":{"row":2,"column":46},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":21,"mode":"ace/mode/text"}},"timestamp":1775045342737,"hash":"70fecf4a47ed03706d1e8dd042ed6ce214e95d8f"}